<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Погода и Баланс</title>
</head>
<body>
<h1>Обновление Баланса Пользователя</h1>
<form action="/update_balance" method="get">
    <label for="user_id">ID пользователя:</label>
    <input type="text" id="user_id" name="user_id" required>
    <label id="city">Город:</label>
    <select id="citySelect" name="city" onchange="showOtherCityField()">
        <option value="Moscow">Москва</option>
        <option value="Saint Petersburg">Санкт-Петербург</option>
        <option value="London">Лондон</option>
        <option value="Other">Другой...</option>
    </select>
    <!-- скрытое поле для ввода названия другого города -->
    <input type="text" id="otherCity" name="otherCity" style="display:none;" placeholder="Введите город"/>
    <button type="submit">Обновить Баланс</button>
</form>
</body>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>
